---
import Layout from '../layouts/Layout.astro';
import Pinnie from '../components/Pinnie.jsx';
---

<Layout title="Does Pinata Have a Token?">
	<main>
    <Pinnie client:only />
	</main>
</Layout>

